.GalleryItem {
    margin-top: 30px;
    width: 90%;
    height: 350px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    overflow: hidden;
}

@media (min-width: 37.5em) {
    .GalleryItem {
        width: 600px;
    }
}

.GalleryItemModal {
    position: relative;
}

@media (min-width: 37.5em) {
    .GalleryItemModal {
        display: none;
    }
}

.GalleryItem .GalleryItemModalSpan {
    background-color: rgba(179, 106, 106, 0.6);
    top: -350px;
    position: absolute;
    text-align: center;
    line-height: 16px;
    font-weight: bold;
    margin: 0;
    display: block;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.GalleryItem.Selected .GalleryItemModalSpan {
    color: #C55757;
    top: 0;
}

.GalleryItemModalSpanDelete {
    cursor: pointer;
}

.GalleryItemHeader {
    box-sizing: border-box;
    height: 60px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    padding-right: 0px;
    padding-left: 0px;
}

@media (min-width: 37.5em) {
    .GalleryItemHeader {
        display: block;
        padding-right: 15px;
        padding-left: 15px;
        line-height: 58px;
        color: #C55757;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.GalleryItemTitle {
    line-height: 60px;
    color: black;
}

.GalleryItemDelete {
    display: none;
    line-height: 58px;
    color: #C55757;
}

@media (min-width: 37.5em) {
    .GalleryItemDelete {
        display: block;
        padding-right: 15px;
        line-height: 58px;
        color: #C55757;
    }
}

.GalleryItemDeleteCursor {
    cursor: pointer;
}

.GalleryItemImgBox {
    height: 290px;
    box-sizing: border-box;
}

.GalleryItemImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}