.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(179,175,178, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup_inner {
    width: 100%;
    height: 100%;
    margin: auto;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 37.5em) {
    .popup_inner {
        height: 330px;
        width: 330px;
    }
}

.popup_innerSectionTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    font-size: 16px;
    font-weight: 900;
}

.popup_innerSectionBody {
    height: 240px;
    width: 100%;
}

@media (min-width: 37.5em) {
    .popup_innerSectionBody {
        height: 240px;
        width: 225px;
    }
}

.popup_innerSectionInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 124px;
}

@media (min-width: 37.5em) {
    .popup_innerSectionInputs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 124px;
    }
}

.popup_innerSectionInputs input {
    box-sizing: border-box;
    height: 40px;
    width: 90%;
    font-size: 16px;
    padding: 0px 5px 0px 5px;
    border-style: solid;
    border-width: 1px;
}

@media (min-width: 37.5em) {
    .popup_innerSectionInputs input {
        height: 40px;
        width: 100%;
        border-style: solid;
        border-width: 1px;
    }
}

.popup_innerSectionBattons {
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media (min-width: 37.5em) {
    .popup_innerSectionBattons {
        height: 116px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}