.button--hollow {
    background-color: transparent;
    border: 0;
    color: #fefbef;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 1;    
    width: 90%; 
    height:40px;  
    border-radius: 0.5rem;
    font-size: 16px;  
    border-width: 2px;    
    outline: none;
    color: #A8E261;
    border: 1px solid #A8E261;  
    
}
@media (min-width: 37.5em) {
    .button--hollow {
      width: 100px;      
    }
  }


.button--red.button--hollow { 
    color: #FF00AE;
    border: 1px solid #FF00AE;
    outline: none;      
}
.button--black.button--hollow {
    color: #0F0F0F;
    border: 1px solid #0F0F0F;
    outline: none;    
  }
  .button--hollow:disabled{
    color: #B5B0B0;
    border: 1px solid #B5B0B0;
    outline: none; 
  }
