.App {
    text-align: center;
}

.App-header {
    height: 20px;
    width: 100%;
    padding: 5px;
    color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    text-align: left;
    vertical-align: middle;
    line-height: 18px;
}

.Gallery {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-headerBall {
    display: none;
    background-image: url("/picture.svg");
    background-repeat: space;
    background-position: bottom left;
    width: 18px;
    height: 18px;
}

@media (min-width: 37.5em) {
    .App-headerBall {
        display: inline-block;
    }
}